@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Poiret+One');

/*****************
STANDARD STYLES
*******************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

html,
body {
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a,
a:hover {
    color: #fff;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poiret One', cursive;
    color: #404040;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 600;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}

p {
    font-weight: 100;
}

h3 {
    font-size: 2em;
}

.padding {
    padding: 30px 20px;
}

/*****************
NAVBAR STYLES
*******************/

.full-bar {
    position: relative;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 60px;
    transition: .3s;
    z-index: 10;
}

.full-bar.fixed {
    position: fixed;
}

.full-bar.white {
    background: fff;
    color: #fff;
    height: height;
}

.full-bar .my-color-brand {
    transition: .3s;
}

.full-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

.navbar nav {
    overflow: visible;
}

.firstname-bold {
    font-weight: 900;
}

/*****************
HERO STYLES
*******************/

.hero-background {
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    display: table;
    background: url('../imgs/books-background.JPG') no-repeat left;
    background-size: cover;
}

.hero-background:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000);
    opacity: 0.7;
}

.hero-intro {
    position: absolute;
    top: 150px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    color: #fff;
    text-align: center;
}

.hero-intro h1 {
    font-size: 3em;
    margin-bottom: 5px;
    color: #fff;
}

.hero-intro span {
    line-height: 1.2em;
}

.design-passion {
    font-family: 'Poiret One', cursive;
    font-size: 1.2em;
}

.my-btn {
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 20px;
    background: #808080;
}

.my-btn:hover {
    text-decoration: none;
}


/*****************
ABOUT ME STYLES
*******************/

#about-me {
    background: linear-gradient(160deg, #C0C0C0,
        #404040 95%, white 80%);
}

#about-me img {
    max-width: 400px;
    width: 100%;
    border-radius: 100%;
    padding: 20px 90px;
}

#about-me p {
    color: #fff;
    font-weight: 100;
    line-height: 24px;
}

#about-me p {
    padding-top: 10px;
}

/*****************
SKILLS STYLES
*******************/

#my-skills {
    background: #fff;
}

#my-skills p {
    margin-bottom: 20px;
}

.myskillsbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.colorskills-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

.skills-box li {
    margin-bottom: 5px;
    font-weight: 100;
}

/*****************
PORTFOLIO STYLES
*******************/

.full-padding-background {
    background: #808080;
    width: 100%;
}

#portfolio {
    padding:30px 20px;
    background:#C0C0C0;
}

#portfolio p {
    margin-bottom:10px;
}

#portfolio a {
    color:#808080;
}

/*NEW ONES*/

.menu {
    width: 100%;
    overflow: hidden;
    list-style: none;
}

button.accordion {
    background-color:#C0C0C0;
    padding: 12px 20px;
    color: #fff;
    position: relative;
    text-align: left;
    font-size:18px;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition:background-color 0.2s linear;
}

button.accordion:hover {
    background:#404040;
}

button.accordion i {
    margin-right: 10px;
}

button.accordion:after {
    content:'+';
    font-size:14px;
    float:right;
}

button.accordion.is-open:after {
    content:'-';
    float:right;
    font-size:14px;
}


.accordion-content {
    margin-top: 10px;
    padding: 0 20px;
    color: #000;
    max-height: 0;
    overflow: hidden;
}

.portfolio-test img {
    width:100%;
}

#main-btn-container {
    width:100%;
    overflow:hidden;
}

.port-btn {
    width:100px;
    height:30px;
    border-radius:4px;
    background:silver;
    margin-right:3px;
    padding:10px;
    color:#fff;
    text-align:center;
}

.hidden-portfolios {
    display:none;
}

/*****************
GROUP PROJECTS STYLES
*******************/
#group-projects a {
    color:#404040;
}

#group-projects .my-card {
    margin-bottom:20px;
}

/*****************
CONTACT STYLES
*******************/

#contact {
    background: linear-gradient(160deg, #C0C0C0,
        #404040 95%, white 80%);
}

#contact p {
    color:#fff;
    margin-bottom:10px;
}

#contact a {
    text-decoration:none;
    outline:none;
}

#contact a:hover {
    color:#000;
    text-decoration:none;
}

.card-body {
    padding:2.25rem;
}

@media (min-width: 768px) {

    h2 {
        text-align:center;
    }

   

    .full-bar.black {
        height: height;
    }

    .hero-intro {
        top:250px;
        font-size:1.3em;
    }

    /* .hero-intro h1 {
        font-size: 4.2em;
    } */

    #about-me img {
        padding:0 60px;
    }
    
    #about-me p {
      text-align:justify;
      padding: 0 4px;
    }

    #my-skills p {
        text-align:center;
    }

    #portfolio h3 {
        text-align:center;
    }


    #group-projects p.card-text {
        margin-bottom:20px;
        padding: 0 10px;
    }

    a.my-card-link {
        margin-left:0!important;
    }

    .more-info {
        text-align:center;
        margin:0 auto;
    }

    .more-info p {
       margin-bottom:20px;
    }

    #contact p {
        text-align:center;
    }

}


@media (min-width: 992px) {

.full-bar {
    height:51px;
} 

.hero-intro h1 {
    font-size: 4.5em;
}

.hero-intro span {
    font-size: 1.3em;
}

#about-me p {
    padding: 40px 40px;
}

}